body{
      background-image: url(0CD07738-D266-471D-B188-7F8F97377722_1_201_a.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
}
      
.font-size {
    font-size: 25px;
        font-family: 'American Typewriter';
    
        font-weight: 100;
        font-display: swap;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
.TITLE {
    font-size: 70px;
        font-family: 'AvidOmnes Léger';
    
        font-weight: 100;
        font-display: swap;
    text-align: center;
    color: aliceblue;
}

    .Footer {
       font-family: 'American Typewriter';
    font-size: larger;
        font-weight: 400;
        font-display: swap;
    text-align: justify;
    margin-right: 100px;
    margin-top: 100px;
    line-height: 1.8;
    color: aliceblue;
    text-decoration: none; 
    }

.Police-text {
    font-family: 'American Typewriter';
    font-size: larger;
        font-weight: 400;
        font-display: swap;
    text-align: justify;
    margin-right: 100px;
    margin-top: 100px;
    line-height: 1.8;
}

.imagetext {
width: 100%;
width: 730px; height: 400px;
    float: left;
    margin-left: 100px;

}

.BIG {
    font-size: 40px;
}
